
<div class="form-group  column " >
<label for="staticEmail" class="col-sm-5 col-form-label" style="color: white;font-size: 25px; font-weight: bolder; text-align: center;">Ingresa el pais y el estado para consultar su información climatológica </label>
<br>
<br>
<div class="col-sm-4" >
    <select class="form-control form-control-lg border-danger"  [formControl]="country">
        <option value="">-- Pais --</option>
        <option value="US">Estados Unidos</option>
        <option value="MX">México</option>
        <option value="AR">Argentina</option>
        <option value="CO">Colombia</option>
        <option value="CR">Costa Rica</option>
        <option value="ES">España</option>
        <option value="PE">Perú</option>
    </select><br>
    <input class="form-control form-control-lg border-danger" type="text" id="inputLarge" placeholder="Estado" [formControl]="state"><br>
    <div class="row">
        <button  type="button" class="btn btn-danger" (click)="getClimates()">Enviar</button>
    </div>
</div>
</div>
<div *ngIf="this.res!=false">
    <table class="table table-striped table-dark">
        <thead>
        <tr >
            <th>País</th>
            <th>Estado</th>
            <th>Longitude</th>
            <th>Latitud </th>
            <th>Temperatura</th>
            <th>Descripción</th>
            <th>Humedad</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                    <td>{{res.sys.country}}</td>
                    <td>{{res.name}}</td>
                    <td>{{res.coord.lon}}</td>
                    <td>{{res.coord.lat}}</td>
                    <td>{{(res.main.temp)-273.15}}°</td>
                    <td>{{res.weather[0].description}}</td>
                    <td>{{res.main.humidity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!this.res">

</div>
    