

    <div class="form-group  row" >
        <label for="staticEmail" class="col-sm-5 col-form-label">Ingresa La fecha que deseas consultar</label>
        <div class="col-sm-4">
            <input class="form-control form-control-lg" type="text" placeholder="ej. Hernandez" id="inputLarge" [formControl]="fecha"><br>
            <button  type="button" class="btn btn-primary" (click)="enviar()">Enviar!</button>
        </div>
    </div>
    <div class="card border-warning form-group mb-3" style="max-width: 20rem;">
       <div class="card-header">Header</div>
           <div class="card-body">
            <h4 class="card-title">Warning card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
    </div>
    
