

    <div class="form-group  " >
        <label for="staticEmail" class="col-sm-5 col-form-label" style="color: white;font-size: 30px; font-weight: bolder; text-align: center;">Ingresa La fecha que deseas consultar</label>
        <div class="col-sm-4" >
            <input class="form-control form-control-lg border-danger" type="date" id="inputLarge" [formControl]="fecha" ><br>
            <div class="row">
                <button  type="button" class="btn btn-danger" (click)="enviar()" >Enviar</button>
                <hr>
                <button  type="button" class="btn btn-danger" (click)="guardar()">Guardar</button>
            </div>

        </div>
    </div>

<div *ngIf="this.bandera2">
    <div class="card border-danger form-group mb-3" style="max-width: 50rem;" *ngIf="this.bandera">
       <div class="card-header bg-danger text-white">{{res.title}}</div>
           <div class="card-body" >
            <h4 class="card-title">{{res.date}}</h4>
            <p class="card-text">{{res.explanation}}</p>
            <img class="card-img-top" [src]="res.url" >
          </div>
    </div>

    <div class="alert alert-dismissible alert-warning" *ngIf="!this.bandera">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">FECHA FUERA DE RANGO!</h4>
        <p class="mb-0">FECHA FUERA DE RANGO! LA FECHA DEBE SER MENOR A LA FECHA ACTUAL.</p>
    </div>
</div>

    <div *ngIf="!this.bandera2">

    </div>
<div *ngIf="this.flag">
        <div class="alert alert-dismissible alert-warning" >
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Atención</h4>
            <p class="mb-0">TU FECHA FUE GUARDADA EN LA BASE DE DATOS</p>
        </div>
</div>

    <div *ngIf="!this.flag">

    </div>
    
