<h1 class="centrado">Bienvenido a Science & Coffee</h1>
<br><br><br>
    <h4 class="justify">Queremos brindarte una introducción a la página Science & Coffeela cual te permitira 
        recopilar detalles cientificos por fechas directo desde la nasa, y el clima a nivel nacional en tiempo real
    esto con el fin de proporcionar la divulgación científica entre los jovenes a través de datos curiosos pero a la vez
    científicos y relevantes a través de una fecha determinada, como lo es el de la nasa y además de permitir guardar dicha fecha
    a nivel de base de datos (no local) en la web, esto además para que los jovenes se orienten a través de la ciencia y el 
    conocimiento a través de curiosidades que puedan ser relevantes para despertar su entusiasmo a aprender. </h4>
<br><br>
<img class="imagen" src="https://feelthebrain.files.wordpress.com/2017/02/maxresdefault1.jpg?w=1200" >
